$className: '.U4ETb8Jej8';

#{$className} {
    border: 1px solid lightgray;
    background: lightcoral;
    padding: 15px;
    .id {
        font-size: 65%;
        margin-bottom: 10px;
        color: blue;
    }
    .link {
        display: inline;
        color: blue;
    }
    .text {
        display: inline;
    }
}